body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0a0a0a;
}

.container {
  width: 900px;
  margin: auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 0px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
}

header, footer {
  width: 90%; 
  max-width: 960px; 
  margin: 0 auto; 
  background-color: #3234bb;
  color: #fff; 
  text-align: center;
  padding: 10px 0; 
}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin: 0 15px; 
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold; 
}

footer {
  margin-top: 0px; 
  padding: 5px 0; 
}



h2 {
  margin-top: 0;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
/*RESPONSIVIDADE celulares	*/
@media screen and (min-width:330px) and (max-width:480px){
    body, div{}
#footer { margin-left:0px;}
}

/*RESPOVIVIDADE Ipad  e ipad mini*/
@media screen and (min-width:768px) and (max-width:1024px){/*ipad*/
    body, div{}
    #footer { margin-left:0px;}		
}	

/*RESPONSIVIDADE ipad air	*/
@media screen and (min-width:820px) and (max-width:1190px){
    body, div{}
#footer { margin-left:9px;}
}
/*RESPONSIVIDADE nokia lumia 520*/
@media screen and (min-width:320px) and (max-width:523px){
  body, div{}
#footer { margin-left:0px;}
}
/*RESPONSIVIDADE net hub max*/
@media screen and (min-width:800px) and (max-width:1280px){
  body, div{}
#footer { margin-left:111px;}
}
