body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0a0a0a;
}

.container {
  width: 900px;
  margin: auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 0px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
}

header, footer {
  width: 90%; 
  max-width: 960px; 
  margin: 0 auto; 
  background-color: #3234bb;
  color: #fff; 
  text-align: center;
  padding: 10px 0; 
}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin: 0 15px; 
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold; 
}

footer {
  margin-top: 0px; 
  padding: 5px 0; 
}



h2 {
  margin-top: 0;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
